  .header {
    font-size: 20px;
    line-height: 1.5;
    margin: 60px auto;
  }
  .header span {
    display: block;
  }
  .section {
    padding: 30px;
  }
  .container , .col-lg-6 , .col-lg-4 , .row {
  // border: 2px solid red;
  }
  .form {
    border: 5px solid #2727d9;
    padding: 33px 20px;
  }
  .form input {
    margin-bottom: 15px;  
  }
  .form-header {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 800;
  }
  .section-header , .kontakts  {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 900; 
  }
  .form-btn {
    background-color: #2727d9;
    width: 300px;
    height: 70px;
  }
  .feature {
    margin: 60px auto ;
  }
  .feature-box {
    height: 160px;
  }
  .feature p {
    margin-top: 20px;
  }
  .video {
    margin-bottom: 30px;
  }
  .kontakts{
  margin: 60px auto;
  }
  .kontakts-box {
    height: 300px;
   // border: 2px solid red;
    margin: 5px auto;
  }
.form-btn2 {
    background-color: #2727d9;
    width: 300px;
    height: 70px