.bcg {
    position: absolute;
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    width: 570px;
    height: 570px;
}
.all_f {
    width: 320px;
    height: 370px;
    background-color: #FFFFFF;
    border: 1px solid #cfdede;
    margin: 100px auto;
 }
form {
    box-sizing: border-box;
 }
 label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 7px;
    color: #7D7D7D;
}
p { 
    height: 25px;
    width: 150px;
    background-color: #01B3B3;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    padding: 0 auto;
    margin-left: 29px;
    margin-top: -4px;
}
strong {
 color: #6bc9c8;
}
.form-control {
    display: block;
    height: 32px;
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-image: url('../img/bg.png');
}
.email_form {   
    margin-top: 30px;
    margin-left: 28px;
    margin-right: 28px;
}
.choose_form {
    margin-top: 16px;
    margin-left: 29px;
    margin-right: 29px;
}
.confirm_form {
    margin-top: 17px;
    margin-left: 29px;
    margin-right: 29px;
}
.btn {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    width: 260px;
    height: 45px;
    background-color:#01C5C5;
    border-radius: 4px;
    margin-top: 34px;
    margin-right: 29px;
    margin-left: 29px;
    border:none;
}
